<%= form_for [ @post, @comment ], :html => { :honeypot => true } do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Post a Comment</p>
  <div class="comments col-md-12">
        <p>
          <%= f.label :author_name %><br/>
          <%= f.text_field :author_name, class: "form-control" %>
        </p>
        <p>
          <%= f.label :body %><br/>
          <%= f.text_area :body, class: "form-control" %>
        </p>
        <p>
          <%= f.submit 'Submit' %>
        </p>
    <% end %>
  </div>
