<% @posts.each do |post| %>
  <div class="anchor" id="post<%= post.id %>"></div>
  <section>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-offset-sm-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <%= image_tag post.picture.url, class: "img-responsive" if post.picture? %>
        <header class="post-header">
          <h3>
            <%= post.title %><br>
            <small>
              Posted: <%= time_ago_in_words(post.created_at) %> ago.
            </small>
          </h3>
        </header>
        <article class="post-body">
          <p>
            <%= post.body %>
          </p>
          <div class="padding"></div>
          <%= link_to "Read More", post_path(post),class: "btn btn-default btn-lg" %>
        </article>
        <footer>
          <!-- Future Comments Preview -->
          <hr class="padding">
        </footer>
      </div>
    </div>
  </section>
<% end %>