<% provide(:title, @post.title) %>

<section>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-offset-sm-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">
      <%= image_tag @post.picture.url, class: "img-responsive" if @post.picture %>
      <header class="post-header">
        <h3>
          <%= @post.title %><br>
          <small>
            Posted: <%= time_ago_in_words(@post.created_at) %> ago.
            <% if @post.created_at %>
              <br>Last Updated: <%= time_ago_in_words(@post.updated_at) %> ago.
            <% end %>
          </small>
        </h3>
      </header>
      <article class="post-body">
        <p>
          <%= @post.body %>
        </p>
        <div class="padding"></div>
        <span>
          <%= link_to "Back", posts_path, class: "btn btn-default btn-lg" %>
          <% if user_signed_in? && current_user.id == @post.user_id %>
            <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-warning btn-lg" %>
          <% end %>
          <% if user_signed_in? && current_user.admin? %>
            <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: 'Really delete the post?'}, class: "btn btn-danger btn-lg" %>
          <% end %>
        </span>
      </article>
      <hr class="padding">
      <footer>
        <h3 class="text-center h2">Comments</h3>
        <div class="row">
          <% if signed_in? %>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding text-center">
            <%= render 'comments/form' %>
          </div>
          <% end %>
          <% if @post.comments.any? %>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding media comment">
              <%= render '/posts/comments' %>
              </div>
              <%= will_paginate @comments, class: "pagination-style" %>
          <% end %>
        </div>
      </footer>
    </div>
  </div>
</section>
